:root{
    --first-color: #0078d7;
    --second-color: #eeeeee;
    --thirth-color: #279b37;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100vh;
    background-color: var(--second-color);
    display: grid;
    place-items: center;
}
.container .content{
    max-width: 1200px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.content .text-left{
    padding-top: 50px;
}
.text-left .logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}
.text-left p{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.content .text-right{
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
}
.content .text-right form{
    width: 300px;
    text-align: center;
}
.text-right form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    outline-color: var(--first-color);
}
.text-right form input:nth-child(3){
    background: var(--first-color);
    text-align: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.text-right form input:nth-child(4){
    color: var(--first-color);
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.text-right form input:nth-last-child(1){
    background-color: var(--thirth-color);
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
}


